<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpaceX_Tracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>307C9FB6265BCBDC00CB111A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>307C9FCC265BCBDD00CB111A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>307C9FD7265BCBDD00CB111A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
